.cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
  color: white;
  font-size: 12px;
  font-family: "Roboto", "sans-serif";
  border-radius: 10px;
  background-color: #222222;
}

.cardContainer p,
.cardContainer h1 {
  margin: 0;
}

.leftSide {
  height: 100%;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  text-align: left;
  width: 100%;
  margin: 10px 10px 10px 0;
}

.title {
  display: flex;
  justify-content: space-between;
}

.saveImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.continue {
  display: flex;
}

.continue p {
  margin-right: 10px;
}

.texO {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bor {
  border-radius: 10px 0 0 0;
  overflow: scroll;
}
