.headerContainer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.leftSide {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.leftSide p {
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: left;
  margin: 0;
}

.gradiant {
  background-image: linear-gradient(60deg, #ff6cd9, #ff2184);
  background-clip: text;
  color: transparent;
}
.settingsContainer {
  position: fixed;
  background-color: white;
  width: 220px;
  height: 190px;
  top: 60px;
  right: 20px;
  z-index: 1;
  border-radius: 3px;
  font-family: "Roboto";
}
.settingsHeader {
  display: grid;
  width: 92%;
  margin: 0 auto;
  grid-template-columns: 12px 1fr 35px;
  border-bottom: 1px solid var(--ds-border, rgba(9, 30, 66, 0.13));
}
.settingsTitle {
  margin: 0;
  height: 40px;
  line-height: 40px;
  grid-column: 1 / span 3;
  grid-row: 1;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
}
.settingsButton {
  border: 0;
  background: transparent;
  grid-column: 3;
  grid-row: 1;
  padding: 0;
}
.settingsMenu,
.settingsName,
.settingsChangeName,
.settingsClose {
  margin: 0;
  padding: 0;
}
.settingsName {
  background-image: linear-gradient(60deg, #ff6cd9, #fa0070);
  background-clip: text;
  color: transparent;
  height: 80px;
  line-height: 80px;
  width: 92%;
  margin: 0 auto;
  border-bottom: 1px solid var(--ds-border, rgba(9, 30, 66, 0.13));
}
.settingsChangeName,
.settingsClose {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  padding: 9px;
  cursor: pointer;
}
.settingsChangeName a {
  text-decoration: none;
  color: inherit;
}
.settingsChangeName:hover,
.settingsClose:hover {
  background-color: rgba(9, 30, 66, 0.04);
}

.containerUl {
  display: none;
}

@media (min-width: 950px) {
  .headerContainer h1 {
    font-size: 35px;
  }
  .headerContainer p {
    font-size: 22px;
  }
  .rightSide {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .containerUl {
    padding: 0;
    margin: 0 15px 0 0;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .liContainer a {
    text-decoration: none;
    color: white;
  }
  .liContainer a:hover {
    transition: 0.5s;
    background-image: linear-gradient(60deg, #ff6cd9, #ff2184);
    background-clip: text;
    color: transparent;
  }

  .leftSide {
    width: 535px;
  }
  .leftSideBack {
    width: 535px;
    text-align: start;
  }
  .backCursor {
    cursor: pointer;
  }
}
