.container {
  max-width: 500px;
  display: grid;
  gap: 1rem;
  justify-content: space-between;
  grid-auto-flow: column;
  overflow: hidden;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  margin: 0 auto;
}

.container::-webkit-scrollbar {
  display: none;
}
