.share_options {
  position: absolute;
  right: 15%;
  height: auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(15, 15, 15, 0.7);
  color: #fff;
  padding: 15px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 800px) {
  .share_options {
    right: 12%;
  }
}
@media (min-width: 800px) {
  .share_options {
    right: 10%;
  }
}
@media (min-width: 1250px) {
  .share_options {
    right: 15%;
  }
}
@media (min-width: 1450px) {
  .share_options {
    right: 20%;
  }
}
@media (min-width: 1550px) {
  .share_options {
    right: 26%;
  }
}
.title {
  font-size: 20px;
  text-transform: capitalize;
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding: 0 20px 3px 0;
}

.social_media {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.social_btn {
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  padding: 0;
}
.social_btn a {
  text-decoration: none;
  color: #fff;
}

.social_btn a:hover {
  color: darkkhaki;
}

.social_btn:nth-child(1) {
  background: #1877f2;
}

.social_btn:nth-child(2) {
  background: #0b3e81;
}
.social_btn:nth-child(3) {
  background: #25d366;
}

.link_container {
  width: 100%;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
  padding: 0 10px;
}

.link {
  width: 80%;
  height: 100%;
  line-height: 40px;
  color: rgb(5, 5, 5);
}

.copy {
  position: absolute;
  right: 0;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: none;
  height: 100%;
  width: 30%;
  text-transform: capitalize;
  font-size: 16px;
}
