.input {
  text-align: center;
  height: 50px;
  background-color: #222222;
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: none;
}

.input::placeholder {
  color: white;
  opacity: 0.8;
  font-size: 15px;
}
