.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Roboto", "sans-serif";
}
.containerComponents {
  padding: 30px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.containerCards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 35px;
  color: white;
  text-align: left;
  margin: 0;
}

.containerContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

@media (min-width: 950px) {
  .containerComponents {
    padding: 30px 20px 30px 20px;
  }
  .containerCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
  }
  .containerContent {
    padding: 35px;
    margin: 0 auto;
    width: 70%;
    min-height: 85vh;
    gap: 30px;
    border: 1px rgba(255, 255, 255, 0.149) solid;
    border-radius: 25px;
  }
  .title {
    font-size: 45px;
    text-align: center;
    margin: 0;
  }
}
