.button {
  padding: 0;
  border: none;
  border-radius: 5px;
  padding: 3px 2px;
  font-family: "Roboto";
  font-size: .8rem;
  color: white;
  background-color: #151515e9;
  line-height: 1.5rem;
  cursor: pointer;
}
