.box {
  position: relative;
  background: #151515;
  height: 55px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #151515;
}
.search {
  color: #fff;
  position: absolute;
  border: none;
  height: 50px;
  width: 90%;
  right: 0px;
  border-radius: 8px;
  padding: 2.3px;
  outline: none;
  background: #151515;
}

.search::placeholder {
  font-size: 1rem;
  color: #fff;
  padding-left: 3px;
}

.btn_search {
  top: 0;
  fill: #ffffff;
  left: 0px;
  width: 15px;
  margin: 1rem;
  position: absolute;
  background-color: transparent;
}
