@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #151515;
  background-image: url("../assets/Background-menu.png");
}

.not-found {
  padding-top: 200px;
  text-align: center;
  color: #fff;
}

.not-found a{
  font-size: 1.5rem;
  color: #6b92fd;
  text-decoration: underline;
}